/laskarit/viikko2/*/.pytest_cache
/laskarit/viikko2/*/src/__pycache__
/laskarit/viikko2/*/src/tests/__pycache__
/laskarit/viikko2/*/.coverage
/laskarit/viikko2/*/htmlcov

src/tests/__pycache__
src/__pycache__
src/ui/__pycache__
.pytest_cache
.coverage
htmlcov
